<div class="researches">
  <% @researches.each do |research| %>
    <div class="research">
      <p class="title">
        <%= translate_research(research.project) if research.project %>
        <%= translate_research(research.types) if research.types %>
        <%= research.status if research.status %>
        <%= translate_rooms(research.rooms) if research.rooms %>
        <%= research_locations(research) if research.boroughs.any? || research.cities.any? %>
      </p>

      <%= link_to "Voir tous les biens", research.link %>
    </div>
  <% end %>
</div>
