<%= render "favorite_action", favorites: @favorites, property: property %>

<%= image_tag property.image_url, class: "image", alt: "photo de l'appartement" %>
<div class="content">
  <p class="address"><%= property.address %></p>
  <p class="title">
    <%= render "shared/property_title", property: property %>
  </p>
  <p class="price"><%= property.price %> €</p>
</div>
