<div class="favorite-container">
  <div class="favorite-cards">
    <div class="actions">
      <%= link_to :back, class: "action-back" do %>
        <i class="fa-solid fa-arrow-left back-icon"></i>
      <% end %>

      <h3 class="title">Mes favoris</h3>

    </div>
    <% @favorites.each do |property| %>
      <div class="favorite-link-action">

        <%= link_to property.instance_of?(Apartment) ? apartment_path(property) : house_path(property), class:"favorite-card" do %>

          <div class="favorite-image">
            <%= image_tag property.image_url, class:"image" %>
          </div>

          <div class="favorite-content">

            <div class="main-content">
              <p class="favorite-location">
                <%= property.borough.name if property.borough %>
                <%= property.city.name %>
              </p>

              <h4 class="favorite-title">
                <%= translate_type(property.class.name) %>
                <%= "#{translate_status(property.status)} de" if property.status %>
                <%= property.surface %>m2
                <%= humanize_project(property.project) %>
              </h4>

              <div class="line"></div>

              <p class="favorite-infos">
                <%= pluralize(property.rooms, "pièce") %>
                <%= pluralize(property.bedrooms, "chambre") %>
            </div>

            <div class="infos">
              <h3 class="price bold"><%= property.price %> €</h3>
            </div>

          </div>

        <% end %>

        <%= render "favorite_action", favorites: @favorites, property: property %>
      </div>

    <% end %>
  </div>
  <div class="map"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
