<% unless saved_locations.count == 0 %>
  <div class="saved-locations">
    <p class="location-title">Récement recherché</p>
    <% saved_locations.each do |saved_location| %>
      <%= link_to request.params.merge(locations: params[:locations].present? ? params[:locations] + ",#{saved_location.insee_code}" : saved_location.insee_code),
          class: "location-result",
          data: { action: 'click->locations#add_location', type: "#{saved_location.class.name.downcase}", 'location-id': saved_location.id} do %>
        <p class="location-name"><i class="fa-solid fa-clock-rotate-left"></i><%= saved_location.name %></p>
        <p class="location-type">
          <%= humanize_location(saved_location) %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
<% unless locations.count == 0 %>
  <div class="matching-locations">
    <p class="location-title">Communes</p>
    <% locations.first(6 - saved_locations.count).each do |location| %>
      <%= link_to request.params.merge(locations: params[:locations].present? ? params[:locations] + ",#{location.insee_code}" : location.insee_code),
          class: "location-result",
          data: { action: 'click->locations#add_location', type: "#{location.class.name.downcase}", 'location-id': location.id} do %>
        <p class="location-name"><i class="fa-solid fa-location-dot"></i><%= location.name %></p>
        <p class="location-type">
          <%= humanize_location(location) %>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
