<div class="pagination">

  <div class="pagination-content">
    <p>Annonces <span class="bold"><%= @properties.count.positive? ? @first_part + 1 : 0%> à <%= @last_part >= @properties.count ? @properties.count : @last_part + 1 %></span> sur <%= @properties.count %></p>
  </div>

  <% if @pagination_max > 1 %>

    <div class="pagination-navigation">

      <%# précédent %>

      <% if @current_page > 1 %>
        <%= link_to request.params.merge(page: @current_page - 1), class: "pagination-btn active" do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
      <% else %>
        <div class="pagination-btn">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
      <% end %>

      <div class="pagination-numbers">

        <% if @pagination_max > 4 %>

          <%# quand il y a beaucoup de page %>

          <% if @current_page == 1 %>

            <% ((@current_page)..(@current_page + 2)).each do |page_number| %>
              <%= paginate(page_number) %>
            <% end %>

            <p class="points">...</p>

            <%= link_to @pagination_max, request.params.merge(page: @pagination_max ), class: "pagination-number" %>

          <% elsif @current_page >= @pagination_max - 1%>

            <%= link_to 1, request.params.merge(page: 1), class: "pagination-number" %>

            <p class="points">...</p>

            <% ((@pagination_max - 2)..(@pagination_max)).each do |page_number| %>
              <%= paginate(page_number) %>
            <% end %>


          <% else %>

            <% if @current_page > 2 %>
              <%= link_to 1, request.params.merge(page: 1), class: "pagination-number" %>
            <% end %>

            <% if @current_page > 3 %>

              <p class="points">...</p>

            <% end %>

            <% ((@current_page - 1)..(@current_page + 1)).each do |page_number| %>
              <%= paginate(page_number) %>
            <% end %>

            <% if @pagination_max - @current_page > 2  %>

              <p class="points">...</p>

            <% end %>

            <%= link_to @pagination_max, request.params.merge(page: @pagination_max ), class: "pagination-number" %>

          <% end %>

        <% else %>

          <%# quand il y a peu de page %>

          <% (1..@pagination_max).each do |page_number| %>
            <%= paginate(page_number) %>
          <% end %>
        <% end %>

      </div>

      <%# suivant %>

      <% if @current_page < @pagination_max %>
        <%= link_to request.params.merge(page: @current_page + 1), class: "pagination-btn active" do %>
          <i class="fa-solid fa-chevron-right"></i>
        <% end %>
      <% else %>
        <div class="pagination-btn">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      <% end %>

    <% end %>


  </div>

</div>
