<% properties.first(50).each do |apartment| %>
  <% if apartment.class.name == "Apartment" %>
    <%# flat %>
    <div class="apartment-card">
      <%= link_to apartment_path(apartment) do %>

        <%= image_tag apartment.image_url, class: "apartment-image" %>
        <div class="apartment-content">
          <p class="apartment-infos">
            Appartement <%= "#{translate_status(apartment.status)} de" if apartment.status %>
            <%= pluralize(apartment.rooms, "pièce") %>
            <%= apartment.surface %> m2
          </p>
          <p class="apartment-tags">
            <%= "Balcon" if apartment.balcony %>
            <%= "Cheminée" if apartment.chimney %>
            <%= "Garage" if apartment.garage %>
            <%= "Ascenseur" if apartment.elevator %>
            <%= "Terrasse" if apartment.terrace %>
            <%= "Cave" if apartment.cellar %>
          </p>
          <p class="apartment-location">
            <% if apartment.borough %>
              <%= apartment.borough.name %>
            <% else %>
              <%= apartment.city.name %>
            <% end %>
          </p>
          <p class="apartment-price"><%= in_group_of(apartment.price.to_s.length, apartment.price) %> €</p>
        </div>
      <% end %>
      <%= simple_form_for FavoriteApartment.new, data: { controller: 'favorite' } do |f| %>
        <div class="apartment-fav" data-action="click->favorite#submitForm">
          <%= f.hidden_field :apartment_id, value: apartment.id %>
          <i class="fa-solid fa-heart"></i>
        </div>
      <% end %>
    </div>

  <% elsif apartment.class.name == "House" %>
    <%# house %>
    <%= link_to apartment_path(apartment), class: "apartment-card" do %>
      <%= image_tag apartment.image_url, class: "apartment-image" %>
      <div class="apartment-content">
        <p class="apartment-infos">
          Maison <%= "#{translate_status(apartment.status)} de" if apartment.status %>
          <%= pluralize(apartment.rooms, "pièce") %>
          <%= apartment.surface %> m2</p>
        <p class="apartment-tags">
          <%= "Balcon" if apartment.balcony %>
          <%= "Cheminée" if apartment.chimney %>
          <%= "Garage" if apartment.garage %>
          <%= "Jardin" if apartment.garden %>
          <%= "Terrasse" if apartment.terrace %>
          <%= "Cave" if apartment.cellar %>
          <%= "Piscine" if apartment.pool %>
        </p>
        <p class="apartment-location">
          <% if apartment.borough %>
            <%= apartment.borough.name %>
          <% else %>
            <%= apartment.city.name %>
          <% end %>
        </p>
        <p class="apartment-price"><%= in_group_of(apartment.price.to_s.length, apartment.price) %> €</p>
      </div>
    <% end %>

  <% end %>

<% end %>
