<% if @properties_paginated.present? %>
  <% @properties_paginated.each do |apartment| %>
    <% if apartment.class.name == "Apartment" %>
      <%# flat %>
      <div class="apartment-card">
        <%= link_to apartment_path(apartment) do %>

          <div class="apartment-image">
            <%= image_tag apartment.image_url, class: "image", alt: "photo de l'appartement" %>
          </div>

          <div class="apartment-content">
            <p class="apartment-infos">
              Appartement <%= "#{translate_status(apartment.status)} de" if apartment.status %>
              <%= pluralize(apartment.rooms, "pièce") %>
              <%= apartment.surface %> m2
            </p>
            <p class="apartment-tags">
              <%= "Balcon" if apartment.balcony %>
              <%= "Cheminée" if apartment.chimney %>
              <%= "Garage" if apartment.garage %>
              <%= "Ascenseur" if apartment.elevator %>
              <%= "Terrasse" if apartment.terrace %>
              <%= "Cave" if apartment.cellar %>
            </p>
            <p class="apartment-location">
              <% if apartment.borough %>
                <%= apartment.borough.name %>
              <% else %>
                <%= apartment.city.name %>
              <% end %>
            </p>
            <p class="apartment-price"><%= in_group_of(apartment.price.to_s.length, apartment.price) %> €</p>
          </div>
        <% end %>

        <% if @favorite_apartments.present? && @favorite_apartments.include?(apartment) %>

          <div data-action="click->favorite#removeFavorite"
              data-property-id="<%= apartment.id %>"
              data-type="<%= apartment.class.name.downcase %>s">
            <div class="favorite-heart">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="heart-icon active">
                <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
              </svg>
            </div>
          </div>

        <% else %>

          <div data-action="click->favorite#addFavorite"
              data-property-id="<%= apartment.id %>"
              data-type="<%= apartment.class.name.downcase %>s">
            <div class="favorite-heart">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="heart-icon">
                <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
              </svg>
            </div>
          </div>
        <% end %>

      </div>

    <% elsif apartment.class.name == "House" %>
      <%# house %>
      <div class="apartment-card">
        <%= link_to house_path(apartment) do %>
          <%= image_tag apartment.image_url, class: "apartment-image" %>
          <div class="apartment-content">
            <p class="apartment-infos">
              Maison <%= "#{translate_status(apartment.status)} de" if apartment.status %>
              <%= pluralize(apartment.rooms, "pièce") %>
              <%= apartment.surface %> m2</p>
            <p class="apartment-tags">
              <%= "Balcon" if apartment.balcony %>
              <%= "Cheminée" if apartment.chimney %>
              <%= "Garage" if apartment.garage %>
              <%= "Jardin" if apartment.garden %>
              <%= "Terrasse" if apartment.terrace %>
              <%= "Cave" if apartment.cellar %>
              <%= "Piscine" if apartment.pool %>
            </p>
            <p class="apartment-location">
              <% if apartment.borough %>
                <%= apartment.borough.name %>
              <% else %>
                <%= apartment.city.name %>
              <% end %>
            </p>
            <p class="apartment-price"><%= in_group_of(apartment.price.to_s.length, apartment.price) %> €</p>
          </div>
        <% end %>
        <% if @favorite_houses.present? && @favorite_houses.include?(apartment) %>
          <div data-action="click->favorite#removeFavorite"
              data-property-id="<%= apartment.id %>"
              data-type="<%= apartment.class.name.downcase %>s">
            <div class="apartment-fav">
              <i class="fa-solid fa-heart active"></i>
            </div>
          </div>
        <% else %>
          <div data-action="click->favorite#addFavorite"
              data-property-id="<%= apartment.id %>"
              data-type="<%= apartment.class.name.downcase %>s">
            <div class="apartment-fav">
              <i class="fa-solid fa-heart"></i>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

  <% end %>
<% else %>
  <p>Aucun bien ne correspond à votre recherche.</p>
<% end %>
