<% apartments.first(50).each do |apartment| %>
  <%= link_to apartment_path(apartment), class: "apartment-card" do %>
    <%# <%= image_tag apartment.image_url, class: "apartment-image" %>
    <div class="apartment-content">
      <p class="apartment-infos">
        <%= translate_type(apartment.apartment_type) %>
        <%= pluralize(apartment.rooms, "pièce") %>
        <%= apartment.surface %> m2</p>
      <p class="apartment-tags">
        <%= "Balcon" if apartment.balcony %>
        <%= "Cheminée" if apartment.chimney %>
        <%= "Parking" if apartment.parking %>
        <%= "Ascenseur" if apartment.elevator %>
        <%= "Jardin" if apartment.garden %>
      </p>
      <p class="apartment-location">
        <% if apartment.borough_id %>
          <%= Borough.find(apartment.borough_id).name %>
        <% else %>
          <%= apartment.city.name %>
        <% end %>
      </p>
      <p class="apartment-price"><%= apartment.price.to_s.length >= 4 ? in_group_of(apartment.price.to_s.length, apartment.price) : apartment.price %> €</p>
    </div>
  <% end %>
<% end %>
