<div class="container"
     data-controller="apartments"
     data-apartments-location-insees-value="<%= @locations_insees.nil? ? [] : @locations_insees %>"
     data-apartments-apartment-types-value="<%= @apartment_types.nil? ? [] : @apartment_types %>">

  <%= form_with(url: apartments_path, method: :get, data: { 'apartments-target': 'form'}) do |f| %>

    <div class="project-filter div-filter">
      <input class="filter" data-action="input->apartments#submitForm" type="radio" id="rent" name="project" value="rent" <%= 'checked' if params[:project] == "rent"%>>
      <label class="tag" for="rent">Louer</label>

      <input class="filter" data-action="input->apartments#submitForm" type="radio" id="buy" name="project" value="buy" <%= 'checked' if params[:project] == "buy"%>>
      <label class="tag" for="buy">Acheter</label>
    </div>


    <div class="type-filter div-filter">
      <label class="tag">Type de bien</label>
      <input class="filter" type="checkbox" id="flat" data-action="click->apartments#toggleType" value="flat" <%= 'checked' if params[:types].present? && params[:types].include?("flat")  %>>
      <label class="tag" for="flat">Appartement</label>
      <input class="filter" type="checkbox" id="house" data-action="click->apartments#toggleType" value="house" <%= 'checked' if params[:types].present? && params[:types].include?("house") %>>
      <label class="tag" for="house">Maison</label>
      <input class="filter" type="checkbox" id="garage" data-action="click->apartments#toggleType" value="garage" <%= 'checked' if params[:types].present? && params[:types].include?("garage") %>>
      <label class="tag" for="garage">Garage</label>
      <input class="filter" type="checkbox" id="ground" data-action="click->apartments#toggleType" value="ground" <%= 'checked' if params[:types].present? && params[:types].include?("ground") %>>
      <label class="tag" for="ground">Terrain</label>

      <input class="filter d-none" data-apartments-target="types" name="types" value="<%= params[:types] if params[:types] %>">

    </div>

    <div class="rooms-filter div-filter">

      <label class="tag">Nombre de pièce</label>
      <input placeholder="Min" class="filter" data-action="keyup->apartments#changeRooms" min="1" max="120" type="number" name="rooms_min" value=<%= params[:rooms_min] if params[:rooms_min].present? %> >
      <input placeholder="Max" class="filter" data-apartments-target="secondRoomsInput" data-action="keyup->apartments#validRooms" min="1" max="120" type="number" name="rooms_max" value=<%= params[:rooms_max] if params[:rooms_max].present? && params[:rooms_max].to_i >= params[:rooms_min].to_i %> >

    </div>

    <div class="surface-filter div-filter">
      <label class="tag">Surface</label>

      <input placeholder="Min" class="filter" data-action="keyup->apartments#changeSurface"  min="1" max="120" type="number" name="surface_min" value=<%= params[:surface_min] if params[:surface_min].present? %> >
      <input placeholder="Max" class="filter" data-apartments-target="secondSurfaceInput" data-action="keyup->apartments#validSurface" min="1" max="120" type="number" name="surface_max" value=<%= params[:surface_max] if params[:surface_max].present? && params[:surface_max].to_i >= params[:surface_min].to_i %> >


    </div>



    <div class="cities-filter div-filter">
      <p class="bold">Critères populaire</p>
      <input class="filter" data-action="input->apartments#submitForm" type="checkbox" id="balcony" name="balcony" value="true" <%= 'checked' if params[:balcony] == "true"%>>
      <label class="tag" for="balcony">Balcon</label>

      <input class="filter" data-action="input->apartments#submitForm" type="checkbox" id="chimney" name="chimney" value="true" <%= 'checked' if params[:chimney] == "true"%>>
      <label class="tag" for="chimney">Cheminée</label>

      <input class="filter" data-action="input->apartments#submitForm" type="checkbox" id="elevator" name="elevator" value="true" <%= 'checked' if params[:elevator] == "true"%>>
      <label class="tag" for="elevator">Ascenseur</label>

      <input class="filter" data-action="input->apartments#submitForm" type="checkbox" id="parking" name="parking" value="true" <%= 'checked' if params[:parking] == "true"%>>
      <label class="tag" for="parking">Parking</label>

      <input class="filter" data-action="input->apartments#submitForm" type="checkbox" id="terrace" name="terrace" value="true" <%= 'checked' if params[:terrace] == "true"%>>
      <label class="tag" for="terrace">Terrasse</label>

      <input class="filter" data-action="input->apartments#submitForm" type="checkbox" id="garden" name="garden" value="true" <%= 'checked' if params[:garden] == "true"%>>
      <label class="tag" for="garden">Jardin</label>

      <input class="filter" data-action="input->apartments#submitForm" type="checkbox" id="cellar" name="cellar" value="true" <%= 'checked' if params[:cellar] == "true"%>>
      <label class="tag" for="cellar">Cave</label>

      <p class="bold">Type de location</p>
      <input class="filter" data-action="input->apartments#submitForm" type="radio" id="furnished" name="status" value="furnished" <%= 'checked' if params[:status] == "furnished"%>>
      <label class="tag" for="furnished">Meublé</label>

      <input class="filter" data-action="input->apartments#submitForm" type="radio" id="unfurnished" name="status" value="unfurnished" <%= 'checked' if params[:status] == "unfurnished"%>>
      <label class="tag" for="unfurnished">Non meublé</label>
    </div>



    <input placeholder="Saisissez une ville ou un arrondissement" class="search-input" type="text" data-action="keyup->apartments#searchLocations">

    <input class="filter d-none" data-apartments-target="locations" name="locations" value="<%= params[:locations] if params[:locations] %>">


    <div class="location-results" data-apartments-target="locationResults"></div>

    <% unless @locations_tags.nil? %>
      <div class="location-tags">
        <% @locations_tags.each do |location_tag| %>
          <p data-insee-code="<%= location_tag.insee_code %>" class="location-tag" data-action="click->apartments#removeLocation"><%= location_tag.name %> <i class="fa-solid fa-xmark cross"></i></p>
        <% end %>
      </div>
    <% end %>


  <% end %>

  <h1>Apartments</h1>
  <div class="apartment-cards" data-apartments-target="apartments">
    <%= render 'apartments', apartments: @apartments %>
  </div>
</div>
